version: "3.0"

services:
  database:
    container_name: mailsorter_db
    image: postgres:latest
    volumes:
      - ./db:/var/lib/postgresql/data_mailsorter
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: mailsorter_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_HOST_AUTH_METHOD: trust

  pgadmin:
    container_name: mailsorter_db_admin
    image: dpage/pgadmin4
    ports:
      - 8080:80
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: password
